:root{
    --primary: #007bff;
    --primary-hover: #0069d9;
    --primary-shadow: #007bff77;
    --secondary: #6c757d;
    --secondary-hover:#5a6268;
    --secondary-shadow:#5a626877;
    --success: #28a745;
    --success-hover: #218838;
    --success-shadow: #28a74577;
    --info: #17a2b8;
    --info-hover: #138496;
    --info-shadow: #17a2b877;
    --warning: #ffc107;
    --warning-hover: #e0a800;
    --warning-shadow: #ffc10777;
    --danger: #dc3545;
    --danger-hover: #c82333;
    --danger-shadow: #c8233377;
    --light: #f8f9fa;
    --light-hover: #dfdfdf;
    --light-shadow: #f8f9fa77;
    --dark: #343a40;
    --dark-hover: #23272b;
    --dark-shadow: #343a4077;
}

.bg-primary{background-color: var(--primary); }
.bg-secondary{background-color: var(--secondary); }
.bg-success{background-color: var(--success); }
.bg-info{background-color: var(--info); }
.bg-warning{background-color: var(--warning); }
.bg-danger{background-color: var(--danger); }
.bg-light{background-color: var(--light); }
.bg-dark{background-color: var(--dark); }

.border-primary{border-color: var(--primary); }
.border-secondary{border-color: var(--secondary); }
.border-success{border-color: var(--success); }
.border-info{border-color: var(--info); }
.border-warning{border-color: var(--warning); }
.border-danger{border-color: var(--danger); }
.border-light{border-color: var(--light); }
.border-dark{border-color: var(--dark); }

.text-primary{color: var(--primary); }
.text-secondary{color: var(--secondary); }
.text-success{color: var(--success); }
.text-info{color: var(--info); }
.text-warning{color: var(--warning); }
.text-danger{color: var(--danger); }
.text-light{color: var(--light); }
.text-dark{color: var(--dark); }

.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.text-center{
    text-align:center;
}

.text-small{
    font-size: small;
}

.text-medium{
    font-size: medium;
}

.text-large{
    font-size: large;
}

.width-fit-content{
    width: min-content;
}

/*
*********** SCROLL BAR
*/

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button{
}
::-webkit-scrollbar-thumb{
    background-color: #ffffff70;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #ffffffd0;
}
::-webkit-scrollbar-track{
    background-color:var(--dark);
}
::-webkit-scrollbar-track-piece{    
}
::-webkit-scrollbar-corner{}
::-webkit-resizer{}