fieldset.cute-ui{
    box-sizing: border-box;
    border-radius: 3px;
    border:1px solid #c4c4c4;
    direction: rtl;
    padding: 5px;
    margin: 15px 0 5px 0;
    background-color: white;
    height: 33px;
    transition: all .1s;
}

fieldset.cute-ui.focus{
    border-color: #3d3d3d;
}

fieldset.cute-ui>legend{
    margin-right:  0px;
    padding: 0;
    white-space: nowrap;
    transition: all .1s;
}

fieldset.cute-ui>legend>label{
    position: absolute;
    color: #c4c4c4;
    margin-top: 5px;
    padding-right: 5px;
    font-size: 13px;
    transition: all .1s;
    margin-right: -4px;
    cursor: text;
}

fieldset.cute-ui>legend>label.focus{
    margin-top: -13px;
    font-size: 13px;
    margin-right: 4px;
    padding-right: 0px;
    color: #3d3d3d;
    cursor: default;
}

fieldset.cute-ui>input{
    box-sizing: border-box;
    /* position: absolute; */
    margin: 0px !important;
    width: 100% !important;
    border: 0;
    outline:none;
    background-color: transparent;
}