/* :root{
    --primary: #007bff;
    --primary-hover: #0069d9;
    --primary-shadow: #007bff77;
    --secondary: #6c757d;
    --secondary-hover:#5a6268;
    --secondary-shadow:#5a626877;
    --success: #28a745;
    --success-hover: #218838;
    --success-shadow: #28a74577;
    --info: #17a2b8;
    --info-hover: #138496;
    --info-shadow: #17a2b877;
    --warning: #ffc107;
    --warning-hover: #e0a800;
    --warning-shadow: #ffc10777;
    --danger: #dc3545;
    --danger-hover: #c82333;
    --danger-shadow: #c8233377;
    --light: #f8f9fa;
    --light-hover: #dfdfdf;
    --light-shadow: #f8f9fa77;
    --dark: #343a40;
    --dark-hover: #23272b;
    --dark-shadow: #343a4077;
} */

.cute-ui-toast-box{
    position: absolute;
    bottom: 50px;
    min-width: 200px;
    padding: 15px 25px 15px 15px;
    border-radius: 5px;
    color: #fff;
    text-align: right;
    font-size: 15px;
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    animation-name: coming;
    animation-duration: .5s;
    animation-fill-mode: forwards
}

@-webkit-keyframes coming {
  from {right: -1000px;}
  to {right: 50px;}
}

@keyframes coming {
  from {right: -1000px;}
  to {right: 50px;}
}

.cute-ui-toast-box.warning>.message-icon{
    color: rgb(27, 27, 27);
}

.cute-ui-toast-box>.message-box{
    flex-grow: 1;
    line-height: 30px;
    padding: 0 10px 0 50px;
    white-space: nowrap;
}

.cute-ui-toast-box>.button-box{
    height: 30px;
    line-height: 30px;
}

.cute-ui-toast-box>.button-box>button{
    height: 30px;
    width: 30px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
}

.cute-ui-toast-box.info{
    background-color:var(--info);
}

.cute-ui-toast-box.info>.button-box>button{
    border: 2px solid var(--info-hover);
    background-color: var(--info);
    color: #fff;
    padding: 3px 0 0 0;
}

.cute-ui-toast-box.info>.button-box>button:hover{
    background-color: var(--info-hover);
}

.cute-ui-toast-box.info>.button-box>button:focus{
    box-shadow:0 0 5px 1px rgba(255, 255, 255, .3);
    border-width:0px;
    padding: 5px 0 0 0;
}

.cute-ui-toast-box.primary{
    background-color:var(--primary);
}

.cute-ui-toast-box.primary>.button-box>button{
    border: 2px solid var(--primary-hover);
    background-color: var(--primary);
    color: #fff;
    padding: 3px 0 0 0;
}

.cute-ui-toast-box.primary>.button-box>button:hover{
    background-color: var(--primary-hover);
}

.cute-ui-toast-box.primary>.button-box>button:focus{
    box-shadow:0 0 5px 1px rgba(255, 255, 255, .3);
    border-width:0px;
    padding: 5px 0 0 0;
}

.cute-ui-toast-box.secondary{
    background-color:var(--secondary);
}

.cute-ui-toast-box.secondary>.button-box>button{
    border: 2px solid var(--secondary-hover);
    background-color: var(--secondary);
    color: #fff;
    padding: 3px 0 0 0;
}

.cute-ui-toast-box.secondary>.button-box>button:hover{
    background-color: var(--secondary-hover);
}

.cute-ui-toast-box.secondary>.button-box>button:focus{
    box-shadow:0 0 5px 1px rgba(255, 255, 255, .3);
    border-width:0px;
    padding: 5px 0 0 0;
}

.cute-ui-toast-box.success{
    background-color:var(--success);
}

.cute-ui-toast-box.success>.button-box>button{
    border: 2px solid var(--success-hover);
    background-color: var(--success);
    color: #fff;
    padding: 3px 0 0 0;
}

.cute-ui-toast-box.success>.button-box>button:hover{
    background-color: var(--success-hover);
}

.cute-ui-toast-box.success>.button-box>button:focus{
    box-shadow:0 0 5px 1px rgba(255, 255, 255, .3);
    border-width:0px;
    padding: 5px 0 0 0;
}

.cute-ui-toast-box.warning{
    background-color:var(--warning);
    color: rgb(27, 27, 27);
}

.cute-ui-toast-box.warning>.button-box>button{
    border: 2px solid var(--warning-hover);
    background-color: var(--warning);
    color: rgb(27, 27, 27);
    padding: 3px 0 0 0;
}

.cute-ui-toast-box.warning>.button-box>button:hover{
    background-color: var(--warning-hover);
}

.cute-ui-toast-box.warning>.button-box>button:focus{
    box-shadow:0 0 5px 1px rgba(0, 0, 0, .3);
    border-width:0px;
    padding: 5px 0 0 0;
}

.cute-ui-toast-box.danger{
    background-color:var(--danger);
}

.cute-ui-toast-box.danger>.button-box>button{
    border: 2px solid var(--danger-hover);
    background-color: var(--danger);
    color: #fff;
    padding: 3px 0 0 0;
}

.cute-ui-toast-box.danger>.button-box>button:hover{
    background-color: var(--danger-hover);
}

.cute-ui-toast-box.danger>.button-box>button:focus{
    box-shadow:0 0 5px 1px rgba(255, 255, 255, .3);
    border-width:0px;
    padding: 5px 0 0 0;
}

.cute-ui-toast-box.dark{
    background-color:var(--dark);
}

.cute-ui-toast-box.dark>.button-box>button{
    border: 2px solid var(--dark-hover);
    background-color: var(--dark);
    color: #fff;
    padding: 3px 0 0 0;
}

.cute-ui-toast-box.dark>.button-box>button:hover{
    background-color: var(--dark-hover);
}

.cute-ui-toast-box.dark>.button-box>button:focus{
    box-shadow:0 0 5px 1px rgba(255, 255, 255, .3);
    border-width:0px;
    padding: 5px 0 0 0;
}