:root{
    --primary: #007bff;
    --primary-hover: #0069d9;
    --primary-shadow: #007bff77;
    --secondary: #6c757d;
    --secondary-hover:#5a6268;
    --secondary-shadow:#5a626877;
    --success: #28a745;
    --success-hover: #218838;
    --success-shadow: #28a74577;
    --info: #17a2b8;
    --info-hover: #138496;
    --info-shadow: #17a2b877;
    --warning: #ffc107;
    --warning-hover: #e0a800;
    --warning-shadow: #ffc10777;
    --danger: #dc3545;
    --danger-hover: #c82333;
    --danger-shadow: #c8233377;
    --light: #f8f9fa;
    --light-hover: #dfdfdf;
    --light-shadow: #f8f9fa77;
    --dark: #343a40;
    --dark-hover: #23272b;
    --dark-shadow: #343a4077;
}

.error-404{
    display: flex;
    height: 100vh;
    background-color: var(--danger);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-404>label{
    color: #fff;
    font-size: 300%;
    padding-bottom: 30px;
}

.error-404>button{
    /* width: fit-content; */
    font-size: 30px;
}